body{
    margin: 0; 
    padding: 0;
    outline: none;
}
#comments{
    display: flex; 
    justify-content: center; 
    background-color:#D4D8D9;
}
.comment{
    display: inline-block;
    width: 15%;
    margin: 0px 50px 0px 50px
}
#dishes{
    background-image: url("./assets/img/Place Your Design Here-7.png");
}
.grid{
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    margin: 0 auto;
    width: 132vh;
    height: auto;
}
.column{
    display: grid;
    grid-row: 1/4;

}
.img{
    width: 33vh;
    height: 33vh;
}
.cell{
    text-align: center;
    display: grid;
    align-items: center;
    height: 33vh;
}